.d-dlex{
    display: flex;
}
.j-c-s-b{
    justify-content: space-between;
}
.f-col{
    flex-direction: column;
}
.f-row{
    flex-direction: row;
}
.a-i-s{
    align-items: flex-start;
}
.a-i-e{
    align-items: flex-end;
}
.f_wrap{
    flex-wrap: wrap;
}
.a_c_s_b{
    align-content: space-between;
}