
.square_2{
    flex-wrap: wrap;
}
.top_menu{
background: brown ;
    flex-shrink: 0;
    padding: 10px;
    overflow-x:auto;
    width: 100%;
    flex-basis: 770px ;
    height: 250px;
    margin-bottom: 10px;
}
.top_menu .menu_item {
    background: yellow ;
    min-width: 200px;
    min-height: 200px;
    margin-right: 10px;
}
.left_menu {
    background: brown;
    flex-shrink: 0;
    padding: 10px;
    overflow-y: auto;
    height: 510px;
    flex-basis: 250px;
    margin-right: 10px;
}
.left_menu .menu_item_2 {
    background: yellow ;
    min-height: 200px;
    min-width: 200px;
    margin-bottom: 10px;
}
.content {
    background: blue ;
    flex-grow: 1;
}