
.square_3{
    flex-wrap: wrap;
}
.header {
    background-color: blue;
    height: 50px;
    width: 750px;
    border: 1px solid;
    margin: 10px;
}
.main {
    flex: 1 0 100%;
    flex-basis: 80%;
    width: 780px;
    background-color: violet;
    overflow-x: auto;
}
.block {
    background-color: green;
    min-width: 250px;
    overflow-y: auto;
    margin: 10px;
}
.block .menu_item_2 {
    background: yellow ;
    min-width: 200px;
    min-height: 200px;
    margin: 10px;
}
.content {
    background: blue ;
    flex-grow: 1;
    min-width: 200px;
    margin: 10px;
}