*{
    box-sizing: border-box;
}
section  {
    height: 800px;
    width: 800px;
    background: red ;
    padding: 10px;
    border: 5px solid;

}
.square_pink {
    width: 330px;
    height: 330px;
    background: brown ;
}
.square_green {
    width: 100px;
    height: 100px;
    background: green;
    margin: 115px auto ;
}
.square_blue {
    width: 150px;
    height: 150px;
    background: blue ;
}

